
body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50xp;
    background-color:#f5f5f5;
}

.logo-box{
    text-align:center;
}

.logo-img{
    width: 700px;
    max-width: 400px;
    height: auto;
}

.slogan{
    font-size: 16px;
    color: #555;
    margin-top: 20px;
    font-style: italic;
}

.form-box{
    width: 250px;
    background-color: white;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-box h2{
    margin-bottom: 20px;
}

.form-box label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-box input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8f0fe;
}

.btn-login{
    background-color: #007bff;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

.btn-login:hover{
    background-color: #0056b3;
}

.error{
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

